@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 min-h-screen p-6 flex justify-center;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  max-width: 80%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.bot-message {
  align-self: flex-start;
  background-color: #f1f0f0;
}

.markdown h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.75rem;
}
.markdown ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}
.markdown ol {
  list-style-type: decimal;
  padding-left: 1.25rem;
}

